* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    text-align: center;
    font-family: fantasy;
}

h1{
    margin: 3rem;
}

.sketch-board{
    margin: 0 auto;
    width: 50%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;   
    align-content: stretch;
}

.block{
    border: 1px solid orange;
    flex: 1 1 25px;
}

.sketch{
    background-color: black;
}


